{% extends 'admin common.html' %}

{% block admincommon %}

    {% include 'Faculty menu.html' %}


    <br><br><br><br>
    <form action="{% url 'saveAssign' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center">


        <tr>
            <h3 align="center" style="color: black;font-weight: bold">Assignment Upload</h3>
        </tr>
        <tr>
            <th>
                <label for="Subject">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter subject" name="t1">
            </th>
        </tr>
        <tr>
            <th>
                <label for="Date">Submission Date</label>
                <input type="date" class="form-control" id="date" placeholder="Date" name="t2">
            </th>
        </tr>
          <tr>
        <th>
            <label for="timetable">Assignment</label>
            <input type="file" class="form-control" id="fileupload"  name="t3">
        </th>
    </tr>
        <tr align="center">
            <th>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </th>
       <tr>
        <th>
        <h4>
            <a href="#" style="color: black;font-weight: bold">Submitted Assignments?</a>
        </h4>
        </th>
    </tr>
             {% if msg %}
                <tr align="center" style="color: red">
                <th>{{ msg }}</th>
                </tr>
            {% endif %}
     </table>
     </form><br><br><br><br>





{% endblock %}