{% extends 'common.html' %}

{% block common %}

    {% include 'mainmenu.html' %}

<body>

<h1>
    Training
</h1>
<p>
   Apart from facilitating placement opportunities, our training for placements team is
    engaged in training our fourth and third year students on Arithmetic and soft skills.
    For the next academic year, the training and placement cell is heading forward to begin the
    specialized training for all the students right from first year to final year of B.Tech
    program in the areas of Aptitude, logical reasoning, verbal ability and softkills with the help of professional trainers.
    This would not only be useful for them for campus placements but also makes them ready for any
    competitive examination or govt. service examinations.
</p>

</body>
{% endblock %}