{% extends 'admin common.html' %}
{% load static %}
{% block admincommon %}
    {% include 'admin mainmenu.html' %}
<head>



</head>
<form action="{% url 'exams' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

    <table align="center">
    <tc>
        <h3 align="center" style="color: #f70b1c;text-decoration-line: underline">Schedule Exams</h3>
    </tc>

    <tr>
        <th>
            <label for="name">Semester</label>
               <select name="t1" class="form-control" id="cars">
                 <option value="1st Year">1st Year</option>
                 <option value="2nd Year">2nd Year</option>
                 <option value="3rd Year">3rd Year</option>
                 <option value="4th Year">4th Year</option>
            </select>
        </th>
    </tr>
     <tr>
        <th>
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Date" name="t2">
        </th>
    </tr>
    <tr>
        <th>
            <label for="time">Time</label>
            <input type="time" class="form-control" id="time" placeholder="Time" name="t3">
        </th>
    </tr>
    <tr>
        <th>
            <label for="fee">Fee</label>
            <input type="number" class="form-control" id="fee" placeholder="Enter Fee" name="t4">
        </th>
    </tr>
    <tr>
        <th>
            <label for="duration">Duration</label>
            <input type="text" class="form-control" id="duration" placeholder="Enter Duration" name="t5">
        </th>
    </tr>
    <tr>
        <th>
            <label for="timetable">Time Table</label>
            <input type="file" class="form-control" id="fileupload"  name="t6">
        </th>
    </tr>
    <tr align="center">
        <th>
            <br/>
            <button type="submit" class="btn btn-primary">Register</button>
        </th>
    </tr>

        {% if msg %}
            <tr><th>{{ msg }}</th></tr>
        {% endif %}
    </table>
</form>
{% endblock %}