{%  extends 'common.html' %}
{% load static %}
{% block common %}

    {% include 'student menu.html' %}



    <br><br><br><br>
    <form action="{% url 'saveDB' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center">


        <tr>
            <h3 align="center" style="color: black;font-weight: bold">Assignment Upload</h3>
        </tr>
        <tr>
            <tr>
         <th>
             <input type="text" value="{{ data.sno}}" name="a1" hidden>
         </th>
     </tr>
            <th>
                <label for="Subject">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter subject" name="t1">
            </th>
        </tr>
    <!--
        <tr>
            <th>
                <label for="Date">Submission Date</label>
                <input type="date" class="form-control" id="date"  placeholder="Date" name="t2">
            </th>
        </tr>
        -->
          <tr>
        <th>
            <label for="Assignment">Assignment</label>
            <input type="file" class="form-control" id="fileupload"  name="t3">
        </th>
    </tr>
        <tr align="center">
            <th>
                <br/>
                <button type="submit" class="btn btn-primary" name="t4">Submit</button>
            </th></tr>

             {% if msg %}
                <tr align="center" style="color: red">
                <th>{{ msg }}</th>
                </tr>
            {% endif %}
     </table>
     </form><br><br><br><br>


{% endblock %}